{% extends 'base.html.twig' %}

{% block title %}Symfony Web Admin{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Symfony Web Admin</h1>
            </div>
        </div>
    </div>
{% endblock %}
