/* Global */
$main-bg-color: #080808;
$main-txt-color: #fff;
$overLayer-bg: rgba(0,0,0,0.4);

/* Fonts */
$main-font-family: 'Montserrat', sans-serif;

$main-body-default-font-size: 14px;

$main-body-sm-font-size: 12px;
$main-body-md-font-size: 13px;
$main-body-lg-font-size: 14px;
$main-body-xl-font-size: 15px;


/* Colors */

//$primary: #971d32;
//$secondary: #f2d02b;

//$success: #2aa502;
//$danger: #da2a00;
//$warning: #da9d00;
//$info: #09b0da;


/* Cards */
$main-card-bg-color: #292a2a;
$main-card-txt-color: #ffffff;
